_site
cycling/alt/*svg
cycling/kml/*kml
.jekyll-cache

########## bootstrap git ignore ##########

# Ignore docs files
bootstrap-3.1.1/_gh_pages
bootstrap-3.1.1/_site
bootstrap-3.1.1/.ruby-version

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# grunt-html-validation
bootstrap-3.1.1/validation-status.json
bootstrap-3.1.1/validation-report.json

# Folders to ignore
bootstrap-3.1.1/node_modules
bootstrap-3.1.1/bower_components
bootstrap-3.1.1/docs
bootstrap-3.1.1/test-infra


/cycling/gpx/neshanic.old
/tmp/working.gpx
/link-checker-crawled-pages.pstore
/_data/comments.yml
