---
title: Cycling Routes
menutitle: Cycling
layout: default
---

<p>I have spent lots of time cycling around New Jersey, Hampshire,
Cambridgeshire (and the UK in general). This page collects my
favourite rides, plus documents a Land's End to John O Groats trip I
completed in 2021.</p>
<ul>
{% for loc in site.data.cycling_locations %}
<li><a href="#{{loc.name}}">{{loc.title}}</a></li>
{% endfor %}
</ul>
<p>Enjoy the rides :-)</p>


{% for loc in site.data.cycling_locations %}
<a name="{{loc.name}}"></a><h2>{{loc.title}}</h2>
{{loc.description | default: ''}}
<ul class="postlist">
  {% for ride in site.pages %}
  {% if ride.location == loc.name and ride.bikeroute %}
  <li>
    <h3><a href="{{ride.url}}">{{ride.title}}</a>
      <small><i>{{ ride.distance }} km</i></small></h3>
    <p>
      {% assign excerpt = ride.content | split:'SNIPPETEND' | first %}
      {{ excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
      {% if excerpt != ride.content %}
        <a class="label label-default" href="{{ride.url}}">Read more</a>
      {% endif %}
    </p>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}
