---
title: Cycling Routes
menutitle: Cycling
layout: default
---

<h2> Routes </h2>

<ul class="postlist">
  {% for post in site.posts %}
  {% if post.categories contains "cycling" %} 
  <li>
    <h3><a href="{{post.url}}">{{post.title}}</a> 
      <small><i>{{ post.location }}</i></small></h3>
    <p>
      {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
      {% if post.excerpt != post.content %}
        <a class="label label-default" href="{{post.url}}">Read more</a>
      {% endif %}
    </p>
  </li>
  {% endif %}
  {% endfor %}
</ul>
