---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/cycling/css/openlayers.css" type="text/css">
    <link rel="stylesheet" href="/cycling/css/style.css" type="text/css">
    <script src="/cycling/js/OpenLayers.js"></script>
    <script src="/cycling/js/mainmap.js"></script>
  </head>
  <body onload="init('map', '{{page.kml}}');">

    {% include main-menu.html %}
    
    <div class="container">
      <h1>{{page.title}}</h1>
     
      {{ content }}

      <p>
        <!-- download links -->
        Download the route in <a href="{{page.gpx}}">GPX</a> or 
        <a href="{{page.kml}}">KML</a>. 
        <!-- elevation toggle -->
        <a class="btn btn-sm btn-default" 
           data-toggle="collapse" data-target="#viewelevation">
          View elevation profile &raquo;</a>
      </p>
      <!-- elevation profile -->
      <img class="collapse elevation-profile" id="viewelevation"  
           alt="altitude profile" src="{{page.altimage}}">
      <!-- map -->
      <div id="map" class="mainmap"></div>
      <br>
      
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>
