---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/cycling/css/openlayers.css" type="text/css">
    <link rel="stylesheet" href="/cycling/css/style.css" type="text/css">
    <script src="/cycling/js/OpenLayers.js"></script>
    <script src="/cycling/js/mainmap.js"></script>
  </head>
  <body onload="init('map', '{{page.kml}}');">

    {% include main-menu.html %}
    
    <div class="container">
      <h1>{{page.title}}</h1>
      
      {{ content }}

      <p><b>Stats:</b> {{page.distance}}km total distance, {{page.climb}}m climbing.</p>

      <p>
        <!-- download links -->
        Download 
        <a href="{{page.gpx}}">GPX</a> or
        <a  href="{{page.kml}}">KML</a>, or use with 
        <a data-toggle="modal" href="#androidModal">Android</a>.
      </p>
      <p>
        <!-- elevation toggle -->
        <a class="btn btn-sm btn-default" 
           data-toggle="collapse" data-target="#viewelevation">
          View elevation profile &raquo;</a>
      </p>
      <!-- elevation profile -->
      <img class="collapse elevation-profile" id="viewelevation"  
           alt="altitude profile" src="{{page.altimage}}">
      <!-- map -->
      <div id="map" class="mainmap"></div>
      <br>
    </div>
    
    <!-- Android instructions modal -->
    <div class="modal fade" id="androidModal" tabindex="-1" 
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Turn by turn navigation on Android</h4>
          </div>
          <div class="modal-body">
            {% include android-nav.html %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Ok
            </button>
          </div>
        </div>
      </div>
    </div><!-- /.modal -->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>
